[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/philippuk/riscv-isa-sim.git
[submodule "Forvis_RISCV-ISA-Spec"]
	path = Forvis_RISCV-ISA-Spec
	url = https://github.com/rsnikhil/Forvis_RISCV-ISA-Spec.git
[submodule "sail-riscv"]
	path = sail-riscv
	url = https://github.com/riscv/sail-riscv.git
[submodule "rvemu"]
	path = rvemu
	url = https://github.com/d0iasm/rvemu.git
